/target/
/target/m2e-wtp
/target/maven-archiver
/target/maven-status
/target/storeManager
/target/test-classes
/target/storeManager.war
/target/classes
/target
/src/main/resources/webmvc-config.xml
