<style>
.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 100%; 
    color:Black !important;
}

</style>
<div class="container-fluid transparent">
	<div class="col-md-12 col-sm-12" style="border-bottom: 1px solid #eee;">
		<h1><i class="fa fa-user fa-lg"></i> ZONE </h1>
	</div>
	<!-- <div class="col-md-12 col-sm-12" style="margin-top:1%;">
		<button class="col-md-1 btn btn-plus btn-white" data-toggle="modal" data-target="#createModel"
		tooltip-placement="auto" tooltip="Create Zone" tooltip-append-to-body="true">
		<i class="fa fa-plus fa-lg text-success"></i></button>
	</div> -->
    <div class="col-md-12 col-sm-12" style="margin-top:1%;">
		<div ui-grid="gridOptions" class="gridStyle"  ui-grid-auto-resize ng-style="getTableHeight()" ui-grid-exporter >
    </div>
	</div>
</div>

<!-- create user pop up -->
<div class="modal fade" id="createModel" tabindex="-1" role="dialog"
		aria-labelledby="myCreateModalLabel" aria-hidden="true">
	<div class="modal-dialog model-large">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" >
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title" id="myCreateModalLabel" style="color:black;">Create User</h4>
			</div>
			<div class="modal-body" style="color:Black;height: 240px;">
				<div class="profile-info-row">
					<div class="profile-info-name">Zone Name<sup>*</sup>:</div>
					<div class="profile-info-value">
						<input  type="text" class="form-control" required ng-required="true" ng-model="newZone.name" placeholder="Enter name" />
					</div>
				</div>				
			</div>
			<div class="modal-footer">
				<button type="button" tooltip-placement="auto" style="width:18%;" tooltip="Save" tooltip-append-to-body="true"
				 class="btn btn-success btn-round" data-dismiss="modal"	ng-click="saveZone()"><i class="fa fa-save fa-lg text-info"></i></button>
					<button type="button" style="width:18%;" tooltip-placement="auto" tooltip="Close" tooltip-append-to-body="true" 
					class="btn btn-danger btn-round" data-dismiss="modal" ><i class="fa fa-close fa-lg text-info"></i></button>
			</div>
		</div>
	</div>
</div>



<!-- delete user pop up -->
<div class="modal fade" id="deleteUserModel" tabindex="-1" role="dialog"
		aria-labelledby="myDeleteModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title" id="myDeleteModalLabel">Delete User</h4>
			</div>
			<div class="modal-body">Are you sure you want to delete this user?</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info btn-round" data-dismiss="modal"
					ng-click="cancelDelete()">Close</button>
				<button type="button" class="btn btn-danger btn-round" data-dismiss="modal"
					ng-click="deleteUser()">Delete</button>
			</div>
		</div>
	</div>
</div>
