<div class="transparent">
	<div class="col-md-12 col-sm-12" style="margin-bottom:1%;margin-top: 1%;">
		<button class="col-md-2 col-sm-2 btn btn-plus btn-white" ng-click="createZone()"
					uib-tooltip-placement="auto">Create Zone
		</button>
	</div>
	<div class="col-md-12 col-sm-12" style="">
		<div class="bg-primary topicTitle" style="">
	 		 Zones
		</div>
	</div>
<div class="col-md-12 col-sm-12" style="">
		<div ui-grid="gridOptions" class="grid" ui-grid-auto-resize ng-style="getTableHeight(zoneData)"  ui-grid-exporter >
   		 </div>
</div>