<style>
.gridStyle {
		border: 1px solid rgb(212, 212, 212);
	    overflow: hidden;
}
</style>
<div class="row">
	<div class="col-md-12 col-sm-12" style="border-bottom: 1px solid #eee;">
		<h1><i class="fa fa-smile-o fa-lg"></i> Party </h1>
	</div>
	<div class="col-md-12 col-sm-12">
		<button class="col-md-1 col-xs-1 btn btn-round btn-default" tooltip="Create new party" ng-click="createPage()"><i class="fa fa-plus text-info"></i></button>
		<!-- <div class="col-md-12 col-sm-12" ng-hide="isGridDataEmpty">
				<div  class="gridStyle" ng-grid="partyGridOptions" ></div>

		</div> -->
	</div>
</div>