<style>
.slide.ng-if-add,
.slide.ng-if-remove {
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  transition: all linear 0.5s;
  display: block!important;
}
.slide.ng-if-add.ng-if-add-active,
.slide.ng-if-remove {
  opacity: 0;

}
.slide.ng-if-add,
.slide.ng-if-remove.ng-if-remove-active {
  opacity: 1;
}
.center-grey {
  background: #f2f2f2;
}
.slider {
background:gba(4,4,4,0.9);
padding:0px;
margin-top: 2%;
}
.slide {
padding:0px;
  box-shadow: 0px 0px 15px #999;
   border-radius: 16px 16px 16px 16px;
}
.slide-image{
width:100%;
 border-radius: 16px 16px 16px 16px;
}
.imageSetter{
height:150px;
width:100%;
text-align:center;
border-style:outset;
border-radius:8px;
border-width: 5px;
 background-size: cover !important;
 color:black;
}
.description{
color:InfoBackground;
text-align: center;
font-size: large;
font-style: italic;
font-family: cursive;
overflow: hidden;
height:54px;
}
.thumbNail{
border: medium ridge tomato;
    border-radius: 8px 8px 8px 8px;
    border-spacing: 3px;
    height: 100px;
    width: 100%;
}
.arrow{
cursor: pointer;
color: powderblue;
padding:0px;
}
.album{
 border-color: lightslategrey;
    border-style: groove;
    border-width: 9px;
     margin: 0 1%;
}
</style>
<div class="row">
	<div class="col-md-12 col-xs-12" style="border-bottom: 1px solid #eee;">
		<h1><i class="fa fa-picture-o fa-lg"></i> GALLERY </h1>
	</div>
				

</div>
