<style>
.inputGroup {
	border-radius: 0px;
}

.inputGroupAddon {
	width: 20%;
}
.ui-grid-viewport .ui-grid-cell-contents {
  word-wrap: break-word;
  white-space: normal !important;
}

.ui-grid-row, .ui-grid-cell {
  height: auto !important;
}

.ui-grid-row div[role=row] {
  display: flex ;
  align-content: stretch;
}
</style>
<div class="headerTitle" style="border-bottom: 1px solid #eee;background-color: #d4b587;color: white;">
		<div class="col-md-2 col-sm-2 col-xs-2 " ng-click="$back()"><i class="fa fa-arrow-left fa-lg"></i> </div>
		<div class="col-md-6 col-sm-6 col-xs-6 " style="margin-top: 1%;">Select Store </div>
		<button class="col-md-3 col-sm-3  col-xs-3 btn btn-plus btn-white" ng-click="createStore()"
					uib-tooltip-placement="auto">New Store
		</button>
</div>
<div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 1%;">	
		<div class="col-md-5 col-sm-5 col-xs-5 " style="padding-left:0px;">
				<select class="form-control inputGroup" style=""
			ng-options="month as month.name for month in months track by month.id"
			ng-model="storeSearch.selectedMonth" 	aria-describedby="basic-addon2"></select>
			</div>
		<button  class="col-md-3 col-xs-offset-3 col-sm-3 col-xs-3 btn btn-round btn-white" ng-click="getStoreDetail()">Go</button>
</div>
<div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 1%;">
		<div ng-show="storeData.length" ui-grid="gridOptions" class="grid" ui-grid-resize-columns ui-grid-auto-resize  ui-grid-exporter >
   		 </div>
   		 <div ng-hide="storeData.length">
   		 	 <div class="alert alert-info" > No zone in application. please <a href="#/zone-createEdit"><u><b><i>create zone</i></b></u></a> first.  </div> 
   		 </div>
</div>
