<br/>
<div class="container-fluid transparent">
	<div class="bg-primary" >
	  Orders in progress
	</div>
	<div class=""  >
		<div ng-show="inprogressOrders.length" ui-grid="gridOptions" class="grid" ui-grid-auto-resize ng-style="getTableHeight(inprogressOrders)"  ui-grid-exporter >
	  		 </div>
	  		 <div ng-hide="inprogressOrders.length"> No Order found in progress status.
	  		 </div>
	</div>
	<br/>
	<div class="bg-primary">
	  Last orders
	</div>
	<div class="" style="margin-top:1%;" >
		<div ng-show="opportunityData.length" ui-grid="gridOptionOpportunity" class="grid" ui-grid-auto-resize ng-style="getTableHeight(opportunityData)"  ui-grid-exporter >
	  		 </div>
  		 <div ng-hide="opportunityData.length"> No store in passive state.
  		 </div>
	</div>
</div>