<style>
.inputGroup {
	border-radius: 0px;
}

.inputGroupAddon {
	width: 40%;
}
</style>



<div class=" headerTitle"
	style="border-bottom: 1px solid #eee; height: 49px; padding: 2% 0% 0% 0%; background-color: #d4b587; color: white;">
	<div class="col-md-1 col-sm-1 col-xs-1 " ng-click="$back()">
		<i class="fa fa-arrow-left fa-lg"></i>
	</div>
	<div class="col-md-8 col-sm-8 col-xs-8 " style="margin-top: 1%;">{{quickTitle}}
	</div>
</div>

<div class="col-md-12 col-sm-12" style="margin-top: 1%;">

	<div class="input-group" style="width: 100%;">
		<span class="input-group-addon inputGroup inputGroupAddon"
			id="basic-addon1"> Zone :</span> <select
			class="form-control inputGroup"
			ng-options="zone as zone.name for zone in zones track by zone.id"
			ng-model="selectedZone" ng-change="setStores(selectedZone)"
			aria-describedby="basic-addon2">

		</select>
	</div>
	<br />
	<div class="input-group" style="width: 100%;">
		<span class="input-group-addon inputGroup inputGroupAddon"
			id="basic-addon1"> Store :</span> <select
			class="form-control inputGroup"
			ng-options="store as store.name for store in zoneStores track by store.name"
			ng-model="orderItemVo.store" aria-describedby="basic-addon2">

		</select>
	</div>
	<br />

	<div class="input-group" style="width: 100%;">
		<span class="input-group-addon inputGroup inputGroupAddon"
			id="basic-addon1"> Status :</span> <select
			class="form-control inputGroup" placeholder="Select Status"
			ng-options="status as status for status in statusList"
			ng-model="orderItemVo.status" aria-describedby="basic-addon2">
		</select>
	</div>
	<br />
</div>
<div class="ol-md-12 col-sm-12" style="">
	<div ui-grid="gridOptions" class="grid" ui-grid-auto-resize
		ng-style="getTableHeight(productData,35)" ui-grid-exporter></div>
</div>
<div class="col-md-12 col-sm-12" style="margin-top: 1%;">
	<br />
	<div class="input-group" style="width: 100%;">
		<span class="input-group-addon inputGroup inputGroupAddon"
			id="basic-addon1"> <input type="checkbox"
			ng-model="orderItemVo.poReceivedOnEmail"
			aria-label="Radio button for following text input"> PO email
			:
		</span> <input type="text" class="form-control inputGroup"
			ng-model="orderItemVo.poNumber" placeholder="Enter PO Number"
			aria-describedby="basic-addon2">
	</div>
	<br />
	<div class="input-group">
		<span class="input-group-addon inputGroup inputGroupAddon"
			id="basic-addon2">Delivery Date:</span> <input type="text"
			class="form-control inputGroup" datepicker-popup="dd/MM/yyyy"
			ng-model="orderItemVo.deliveryDate" is-open="opened" max-date="maxDate"
			min-date="minDate" ng-required="true" show-weeks="false"
			close-text="Close" readonly="true" ng-change=""
			ng-click="open($event)" /> <span class="input-group-btn">
			<button type="button" class="btn btn-white btn-md"
				ng-click="open($event)">
				<i class="fa fa-calendar fa-lg text-info"></i>
			</button>
		</span>
	</div>
	<br />
	<div class="input-group" style="width: 100%;">
		<textarea class="form-control inputGroup" ng-model="orderItemVo.remarks"
			style="width: 100%;" placeholder="Remarks" rows="5"
			aria-describedby="basic-addon4"></textarea>
	</div>
	<br />
</div>
<div class="col-md-12 col-sm-12"
	style="margin-top: 1%; text-align: center;">
	<button class="btn btn-plus btn-white" ng-click="saveOrder()"
		style="width: 50%;">Save order</button>
</div>
<br/>



