<style>

li a {
    color:white;
    text-decoration: none;
}

li a:hover{
	 color: #F0A0C6;
     text-decoration:none;
}
li:hover{
background: rgba(3, 3, 3, 0.7) !important;
}
.back-color{
/* background: rgba(0, 100, 0, 0.8) !important; */
}
 .nav,.nav li a{
padding:0px;
}
</style>
<nav class="navbar navbar-default label-primary" style=" background-color: #193340;margin-bottom: 0px;" ng-init="Clickcollapse=false;">

      <div class=" navbar-header" style="">
       	<button type="button" class="col-md-1 col-sm-1 col-xs-1 navbar-toggle collapsed" data-toggle="collapse" ng-click="Clickcollapse = !Clickcollapse;" 
       	style="border-color: transparent;float: left;">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar" style="background: white;"></span>
	        <span class="icon-bar" style="    background: white;"></span>
	        <span class="icon-bar" style="    background: white;"></span>
	      </button>
      	<a  href="#/home" class="col-md-8 col-sm-8 col-xs-8 " style="text-align:center;color:white;margin-top: 3%;font-family: initial;font-size: 21px;">STORE MANAGER</a>
	    <a  href="#/zones" class="col-md-1 col-sm-1 col-xs-1 " style="text-align:center;color:white;margin-top: 3%;"><i class="fa fa-plus-circle fa-2x"></i></a>
	    
	    
	</div>
	
	<div ng-hide="true" class="collapse navbar-collapse" ng-class="{'in':Clickcollapse}">
		    <ul class="nav navbar-nav">
		    	<li ><a  href="#/home">
		    		<div ng-click="Clickcollapse = !Clickcollapse;setBG('/home');" class="link {{home}}"> <i class="fa fa-home fa-lg"></i> Home </div></a></li>
		    	<li class=""><a href="#/zones">
		    		<div ng-click="Clickcollapse = !Clickcollapse;setBG('/zones');" class="link {{zones}}"> <i class="fa fa-picture-o fa-lg"></i> Zones </div></a></li>
		    	 <li class=""><a href="#/stores">
		    		<div ng-click="Clickcollapse = !Clickcollapse;setBG('/stores')" class="link {{stores}}"> <i class="fa fa-fire fa-lg"></i> Stores </div></a></li>
			   <li class=""><a href="#/about">
			    	<div ng-click="Clickcollapse = !Clickcollapse;setBG('/about');" class="link {{about}}"> <i class="fa fa-street-view fa-lg"></i> ABOUT </div></a></li>
				<li class=""><a href="#/orders">
			    	<div ng-click="Clickcollapse = !Clickcollapse;setBG('/orders');" class="link {{orders}}"> <i class="fa fa-gears fa-lg"></i> Orders </div></a></li>
			<!--    
			    <li class="" ><a href="#/contact">
			    	<div ng-click="Clickcollapse = !Clickcollapse;setBG('/contact');" class="link {{contact}}"> <i class="fa fa-phone-square fa-lg"></i> CONTACT </div></a></li>
		    	  <li class="" ><a href="#/profile">
			    	<div ng-click="Clickcollapse = !Clickcollapse;setBG('/profile');" class="link {{profile}}"> <i class="fa fa-dot-circle-o fa-lg"></i> PROFILE </div></a></li>
		    --> </ul>
	</div>

</nav>
