<style>

li a {
    color:white;
    text-decoration: none;
}

li a:hover{
	 color: white;
     text-decoration:none;
}
li:hover{
background: rgba(3, 3, 3, 0.7) !important;
}
.back-color{
/* background: rgba(0, 100, 0, 0.8) !important; */
}

.sidenav {
    height: 100%;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    background-color: #193340;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: white;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
</style>
<nav class="navbar navbar-default label-primary" style="color:white; background-color: #193340;margin-bottom: 0px;border:none;border-radius: 0px;" ng-init="Clickcollapse=false;">

      <div class=" navbar-header" style="width:100%;">
       	<span ng-show="isMobile" class="col-md-2 col-sm-2 col-xs-2 " data-toggle="collapse" ng-click="Clickcollapse = !Clickcollapse;" style="margin-top:3%;color:white;cursor:pointer" ><i class="fa fa-bars fa-2x"></i></span>
      	<a  href="#/home" class="col-md-11 col-sm-8 col-xs-8 appHeaderTitle" >STORE MANAGER</a>
	    <a  href="#/quickOrder/selectZone" class="col-md-1 col-sm-1 col-xs-1 quickOrderBtn" style=""><i class="fa fa-plus-circle fa-2x"></i></a>
	    
	    
	</div>
	
	<div  class="collapse navbar-collapse sidenav" style="width: 180px;height: 100%!important;" ng-class="{'in':Clickcollapse}">
		    <ul class="nav navbar-nav">
		   		 <li ng-show="isMobile" ><a href="#" style="" ng-click="Clickcollapse = !Clickcollapse" >
		   		 	<div class="link"  style=""><i class="fa fa-times fa-2x"></i></div></a></li>
		    	
		    	<li ><a  href="#/home">
		    		<div ng-click="Clickcollapse = !Clickcollapse;setBG('/home');" class="link {{home}}"> <i class="fa fa-home fa-lg"></i> Dashboard </div></a></li>
		    	 <li class=""><a href="#/orders">
			    	<div ng-click="Clickcollapse = !Clickcollapse;setBG('/orders');" class="link {{orders}}"> <i class="fa fa-gears fa-lg"></i> Orders </div></a></li>
				<li class=""><a href="#/zones">
		    		<div ng-click="Clickcollapse = !Clickcollapse;setBG('/zones');" class="link {{zones}}"> <i class="fa fa-picture-o fa-lg"></i> Zones </div></a></li>
		    	 <li class=""><a href="#/stores">
		    		<div ng-click="Clickcollapse = !Clickcollapse;setBG('/stores')" class="link {{stores}}"> <i class="fa fa-fire fa-lg"></i> Stores </div></a></li>
			  
		    	 <li class=""><a href="#/about">
			    	<div ng-click="Clickcollapse = !Clickcollapse;setBG('/about');" class="link {{about}}"> <i class="fa fa-street-view fa-lg"></i> About </div></a></li>
			  
			</ul>
	</div>

</nav>
